/* body{
    background: #EAE2B7;
} */
.loads-page {
  padding-top: 5.19rem;
  margin-bottom: 4.60rem;
  width: 84.6%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 2.12rem;
  /* justify-content: space-around; */
  /* align-items: center; */
}
.loads-homepage{
padding-bottom: 6.19rem;
}
