body{
    background: #EAE2B7;
}
.l-homepage{
    padding-top: 5.19rem;
    padding-bottom: 5.19rem;
padding-left: 2.06rem;
padding-right: 2.06rem;
display: flex;
flex-wrap: wrap;
gap: 2.12rem;
justify-content: space-around;
align-items: center;
}